@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Oleo+Script+Swash+Caps&display=swap');



[class *="profile"] {
    width: 3%;
    /* height: 5em; */
    border-radius: 50%;
    margin-top: 6em;
    margin-left: 2em;
}

.display-3{
    margin-left: -2px;   
}

.display-6{
    margin-left: -1px;   
}

/* DEMO-SPECIFIC STYLES */
.typewriter h1 {
    color: #fff;
    font-family: monospace;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(30, end),
      blink-caret .5s step-end infinite;
  }
  

  .other{
    margin-top: 17em;
  }

  .centered {
    position: fixed;
    top: 20%;
    left: 80%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
  }

  h1{
    font-family: 'Koulen', cursive;
  }

  h2{
    font-family: 'Koulen', cursive;
    font-family: 'Oleo Script Swash Caps', cursive;
    color: rgba(172, 8, 8, 0.884);
  }

  @media only screen and (max-width: 600px){
	/*Big smartphones [426px -> 600px]*/
    [class *="profile"] {
        width: 3%;
        /* height: 5em; */
        border-radius: 50%;
        margin-top: 7em;
        margin-left: 1em;
    }

    .display-6{
        margin-right: -1em;   
    }
}

#home{
    background-image: url("/images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.6;
    background-attachment: fixed;
    
}